*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: #222;
    color: white;
    height: 80px;
    width: 80px;
}
.img{
    width: 90px;
    height: 90px;
    border-radius: 50px;
}